body {
  background-color: darkgray;
}

#formDiv {
  width: 600px;
  margin: 25px auto;
  padding: 10px;
  border: medium solid black;
}

input {
  margin-top: 10px;
}

button {
  margin: 25px 0px;
}
